body,
html {
    max-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container-content{
    position: d-flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

#question {
    font-size: 24px;
    margin: 20px 0;
}

input,
button {
    padding: 5px;
    margin: 10px;
}

.alert {
    padding: 10px;
}

#alert-container {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 1000;
    width: 300px;
}

#endGameModal .modal-footer .btn-primary {
    display: none;
}

#stopwatch {
    background-color: white;
    transition: background-color 1s;

    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 10px 0;
}


.record-time {
    padding: 10px 15px;
    border-radius: 20px;
    margin: 10px 0;
}

.rank-item {
    padding: 10px 0;
}

.alert-success {
    animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}