body, html {
    height: 100%; 
    margin: 0;
    padding: 0;
    overflow: hidden; /* Menghindari scrollbar */
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Pusatkan konten secara vertikal */
    align-items: center;     /* Pusatkan konten secara horizontal */
    height: 100%;            /* Ambil seluruh tinggi viewport */
    padding: 5% 0;           /* Memberikan margin atas dan bawah */
    box-sizing: border-box;  /* Agar padding tidak menambah tinggi */
}

#rankingsContainer {
    min-height: 350px;  /* Anda dapat menyesuaikan nilai ini sesuai dengan kebutuhan */
}


#question {
    font-size: 24px;
    margin: 20px 0;
}

.circle-button {
    width: 50px;  /* Anda dapat mengatur ini sesuai kebutuhan */
    height: 50px; /* Anda dapat mengatur ini sesuai kebutuhan */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#buttonHint {
    margin-left: -10px;  /* Mengatur seberapa dekat button dengan "..." pada question */
}
#buttonHint:hover{
    background-color: transparent !important;
}


#hintModal .col-6, #hintModal .col-md {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    white-space: nowrap;
    width: calc(50% - 10px); /* 50% dari lebar parent dikurangi margin */
    max-width: calc(50% - 10px);
}






input,
button {
    padding: 5px;
    margin: 10px;
}

.alert {
    padding: 10px;
    margin-top: 10px;
}

#alert-success-container {
    position: fixed;
    top: 5px;
    right: 5px;
    z-index: 1000;
    width: 100px;
}

#alert-danger-container {
    position: fixed;
    top: 5px;
    left: 5px;
    z-index: 1000;
    width: 100px;
}

.alert-success, .alert-danger {
    animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

#endGameModal .modal-footer .btn-primary {
    display: none;
}

#stopwatch {
    background-color: white;
    transition: background-color 1s;

    background-color: white;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 10px 0;
}

.wiggle-animation {
    animation: wiggle 0.2s ease-in-out 2; 
}

@keyframes wiggle {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateY(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateY(0); }
}



.record-time {
    padding: 10px 15px;
    border-radius: 20px;
    margin: 10px 0;
}

.rank-item {
    padding: 10px 0;
}


